# Repository Config file
## Containing all credentials & tokens

#e.g. GITHUB_API_KEY = 'tdt_5T0fnNMC8tcBqVLtwkHwnGi302QqMo2k4tfl'
#e.g. SONARCLOUD_API_KEY = '548241f4d2597e4lrt48ed6d46469bf9240xr434'
#e.g. GITHUB_USERNAME = 'YOUR USERNAME'
#e.g. GITHUB_PASSWORD = 'YOUR PASSWORD'

GITHUB_API_KEY = 'YOUR TOKEN HERE'
SONARCLOUD_API_KEY = 'YOUR TOKEN HERE'

GITHUB_USERNAME = 'YOUR USERNAME HERE'
GITHUB_PASSWORD = 'YOUR PASSWORD HERE'